// FONT CONFIG

@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Light.ttf');
}

* {
    font-family: 'Poppins';
}

html, body { height: 100%; }
body { margin: 0; }

.cursor-pointer {
    cursor: pointer !important;
}
