
<div class="row">
  <div class="col-12 col-md-4 col-lg-3">
    <button type="button" class="btn btn-primary mt-5 mb-4" (click)="openModal()">
      Create Equipment
    </button>
  </div>
  <div class="col align-self-center">
    <div class="form-floating mb-3 mt-3">
      <input type="text" class="form-control" id="floatingInputSearchBySN" placeholder="Search by Serial Number" [(ngModel)]="searchString" (blur)="searchBySN()">
      <label for="floatingInputSearchBySN">Search by Serial Number</label>
    </div>
  </div>
</div>
<div *ngIf="equipments.length > 0" class="table-responsive">
  <table class="table table-hover table-bordered caption-top">
      <caption>List of Equipments</caption>
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Serial Number</th>
          <th scope="col">Nº of Points</th>
          <th scope="col" style="width: 10%;">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let equipment of equipments">
          <th scope="row">{{ equipment._id }}</th>
          <td>{{ equipment.name }}</td>
          <td>{{ equipment.serialNumber }}</td>
          <td>{{ equipment.points.length }}</td>
          <td class="text-center">
            <span class="cursor-pointer text-primary me-3" (click)="openModal(equipment)">Edit</span>
            <span class="cursor-pointer text-danger" (click)="deleteEquipment(equipment._id)">Delete</span>
          </td>
        </tr>
      </tbody>
  </table>
</div>

<div *ngIf="equipments.length == 0">
    No Data
</div>